{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starry</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar" style="background: url('{% static 'img/13900618_5291450.jpg' %}')">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contactus">Contact Us</a></li>
        </ul>
    </div>
    <section id="home">
        <div class="main">
            <h1 class="headings">
                WELCOME TO <br> STARRY RESEARCH AND MANAGEMENT LTD</h1>
            <button class="btn">
                Hire Me!
            </button>
        </div>
    </section>
    <section id="about">
        <h1 class="headings">ABOUT US</h1>
        <div id="pic">
            <img src="{% static 'img/d33cfd33445921575eb21934633.jpg' %}" alt="">
            <div id="intro">
                <h2>Message from our MD</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum repellendus dolor asperiores voluptatum recusandae autem, deleniti vel quis magnam adipisci. Soluta aliquid, rerum fugit porro atque tenetur, totam placeat error obcaecati illum sunt exercitationem, eligendi repellendus suscipit natus! Temporibus voluptatem tempore porro omnis enim consectetur quidem corporis corrupti. Explicabo ea illum consequatur, quia ipsa necessitatibus placeat, recusandae architecto tenetur ullam fugit animi at. Optio fuga ipsam fugiat numquam nam, et minus molestiae commodi repellat totam? Veniam eaque impedit qui modi esse error ea suscipit blanditiis ducimus molestiae, asperiores facere id, saepe est odit quas sequi quidem, dolore nesciunt soluta ipsum.</p>
            </div>
        </div>
    </section>
    <section id="gallery">
        <h1 class="headings">Gallery</h1>
       <div class="gallery">
        <img src="{% static 'portfolio/Garu (1).jpg' %}" alt="">
        <img src="{% static 'portfolio/Garu (2).jpg' %}" alt="">
        <img src="{% static 'portfolio/Garu (3).jpg' %}" alt="">
        <img src="{% static 'portfolio/Garu (4).jpg' %}" alt="">
        <img src="{% static 'portfolio/Garu (5).jpg' %}" alt="">
        <img src="{% static 'portfolio/Garu (6).jpg' %}" alt="">
        <img src="{% static 'portfolio/Garu (7).jpg' %}" alt="">
        <img src="{% static 'portfolio/Garu (8).jpg' %}" alt="">
        <img src="{% static 'portfolio/Garu (9).jpg' %}" alt="">
       </div>
    </section>
    <section id="services">
        <h1 class="headings">SERVICES</h1>
        <div class="row">
            <div class="box">
                <img src="{% static 'services/14289013241598811051-128.png' %}" alt="">
                <h1 class="headings">Estate and housing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repellat debitis unde quidem, ducimus labore facilis
                    odio accusamus repellendus. Omnis architecto hic ab quisquam. Est porro assumenda odio placeat perspiciatis?</p>
            </div>
        <div class="row">
            <div class="box">
                    <img src="{% static 'services/15190583311636192567-128.png' %}" alt="">
                    <h1 class="headings">Construction Materials</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repellat debitis unde quidem, ducimus labore
                        facilis odio accusamus repellendus. Omnis architecto hic ab quisquam. Est porro assumenda odio placeat
                        perspiciatis?</p>
            </div>
        <div class="row">
            <div class="box">
                <img src="{% static 'services/7706247501641126468-128.png' %}" alt="">
                <h1 class="headings">Rent & Leasing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repellat debitis unde quidem, ducimus labore
                    facilis odio accusamus repellendus. Omnis architecto hic ab quisquam. Est porro assumenda odio placeat
                    perspiciatis?</p>
            </div>
    </section>
      
    <section id="contactus">

        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }}"  >
                    {{ message }}
                </div>
            </div>
        {% endfor %}  

        <h1 class="headings">CONTACT</h1>
        <form action="/contact/" method="POST" class="form">
            {% csrf_token %}
            <input type="text" name="name" class="input" placeholder="Enter your name">
            <input type="email" name="email" class="input" placeholder="Enter your email here">   
            <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Enter your message"></textarea>
            <input type="submit" value="SEND" id="send">
        </form>
    </section>
   <!-- <section id="icons">
    <div class="name">
        <img src="" alt="">
    </div>
   </section> -->
</body>
</html>